
  <h1>Welcome To Shopperoo</h1>

<% if(current_user != nil) %>
<%# write our logged in home %>
  <%= form_with url: shops_path, method: "get" do |f| %>
    <%= label_tag(:query, "Search for shop/store:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>
<% else %>
  <%# write our not logged in home %>
  <h1>Show if not logged in.</h1>
<%end%>
